<!DOCTYPE html>
<html>
  <title>It's me</title>
  <head>
      <style>
          *{box-sizing: border-box }

            img{

            max-width:100%

            }

            @keyframes animation_slide {
            0% {left:0}
            20%{left:0}/*image1*/

            25%{left:-100%}
            45%{left:-100%}/*image2*/

            50%{left:-200%}
            70%{left:-200%}/*image3*/

            75%{left:-300%}/*image4*/
            95%{left:-300%}

            100%{left:-400%}/*image1*/}

            @-webkit-keyframes animation_slide {
            0% {left:0}
            20%{left:0}/*image1*/

            25%{left:-100%}
            45%{left:-100%}/*image2*/

            50%{left:-200%}
            70%{left:-200%}/*image3*/

            75%{left:-300%}/*image4*/
            95%{left:-300%}

            100%{left:-400%}/*image1*/}


            figure img{

            pointer-events:none;
            width:20%;
            height:100vh;
            object-fit:contain;
            float:left

            }

            figure{


            position: relative;
            width: 500%;
            animation: 30s animation_slide infinite; 

            }
            img {
            border-radius: 15%;
            box-shadow: 5px 8px 5px 2px black;
            background-size: cover;
            }
            span{
            text-align: center;
            color: antiquewhite;
            font-size: 3em;
            text-shadow: 1px 2px 3px black; 
            }
       </style>
    <figure>
    <ul>
    <li><img src="mes photos pour la sae14/decoration.JPG" alt><span>Do everything for a day to be decorated</span></li>
    <li><img src="mes photos pour la sae14/conduire.JPG" alt><span>Behind the wheel, what it gives</span></li>
    <li><img src="mes photos pour la sae14/salle de sport.JPG" alt><span>At the gym, we feel good with friends</span></li>
    <li><img src="mes photos pour la sae14/soiree.JPG" alt><span>When we’re getting ready to go to a party</span></li>
    <li><img src="mes photos pour la sae14/Tabaski.JPG" alt><span>Religious holidays are a part of us</span></li>
    <li><img src="mes photos pour la sae14/tabaski3.jpg" alt><span>Religious holidays are a part of us</span></li>
    <li><img src="mes photos pour la sae14/moi1.JPG" alt><span>It feels good</span></li>
    <li><img src="mes photos pour la sae14/MOI2.JPG" alt><span>It feels good</span></li>
    <li><img src="mes photos pour la sae14/MOI3.jpg" alt><span>It feels good</span></li>
    <li><img src="mes photos pour la sae14/ecole.JPG" alt><span>At school</span></li>
    <li><img src="mes photos pour la sae14/village.JPG" alt><span>At the village</span></li>
    </ul>
    </figure>
    </div>
  
</html>

