<!DOCTYPE html>
<html>
        <head>
         <title>Portfolio</title>
        </head>
<body>
            <table>
                        <tr>
                    <td>Compétence</td>
                    <td>Apprentissage critique</td>
                    <td>note sur 4</td>
                    <td>Liens vers les pièces justificatif</td>
                    <td>Commentaire je réfléchis à  mon niveau d'aquisition de l'apprentissage critique</td>
                </tr>

                <tr>
                    <td>Administrer les réseaux de l'internet</td>
                    <td><p>Maitriser les lois fondamentales de l'électricité<br>
                        afin d'intervenir sur des équipements de réseaux et </p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1HM45Vp9nmu8V3kRNaz586gWAZIjy4mrcC3L9sOZNvA0/edit">justificatif</a></td>
                    <td><p>j'ai choisis ce niveau parce que je maitrise a peu près tous les fondamontaux concernant l'électricité<br>
                        hormis maitrise complète de la trigo sur un cercle trigonométrique (cosinus & sinus)</p></td>
                </tr>     

                <tr>
                    <td>Admnistrer les réseaux</td>
                    <td>Savoir identifier les dysfonctionnements du réseau local</td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1GD0SNMO8ledxjQCYfTFeO_ktXp-CLkqM7yp67_EgMKw/edit">justificatif</a></td>
                    <td><p>Pour la compétence critique je me suis attribuée cette note parce que il y arrive a certains moment de ne pas savoir<br>
                    d'ou provient le probleme ou encore que j'arrive pas l'expliquer correctement, avec des moyens tels que l'analyse de trame je peux voir des erreurs.</p></td>
                </tr>

                <tr>
                    <td>Administrer les réseaux de l'internet</td>
                    <td><p>Maitriser les règles et les principes fondamentaux des systèmes d'exploitation afin d'interagir<br>
                        avec ceux-ci pour la configuration et administration des réseaux et services fournis(DHCP, DNS, ...)</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1prGw828GJ8iDg46yC0hW_kh-pXBc85OWGfojSY-z_JU/edit">justificatif</a></td>
                    <td><p>Dans cette apprentissage critique je me suis mis cette note parce que je sais plus ou moins les roles des serveurs, donc connecté une entreprise<br>
                        par exemple à un client du moins j'arrive a ce qu'ils puissent communiquer entre eux mais il y a  souvent certains petit détails que j'oublie ce qui crée souvent un dysfonctionnement et m'oblige a tout vérifier </p></td>
                </tr>

                <tr>
                        <td>Connecter les entreprises et les usagers</td>
                        <td><p>Mesurer et analyser les signaux(audio et vidéo, ordres de grandeurs, comprendre la dualité temps/fréquence et utiliser des équipements d'analyse spectrale,<br>
                        avec projet autour de la chaine d'acquisition/traitement)</p></td>
                        <td>3/4</td>
                        <td><a href="https://docs.google.com/document/d/1uFG0LdxKh9Rx3YBMdB7dn0yl7axI5BHOTV5dV6BoRa0/edit">justificatif</a></td>
                        <td><p>cette note parce que je sais mesurer et analyser les signaux de transmissions mais je doute assez sur l'analyse spectrale<br>
                        ce qui peut me pousser a faire certaine erreur</p></td>
                </tr>

                <tr>
                <td>Connecter les entreprises et les usagers</td>
                <td><p>Daployer des supports de transmission<br>
                    (traitement au choix de la propagation, cablage LAN, fibre optique, ou une introduction à l'IoT)</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1GdGYNOHCJ6XvuMu2A9cvT-HxzFQiIzAtAQIZcVROHXs/edit">justificatif</a></td>
                    <td><p>je sais lequel des système de transmissions utiliser selon le réseau auquel je peux faire face </p></td>
                </tr>

                <tr>
                    <td>Connecter les entreprises et les usagers</td>
                    <td><p>Communiquer avec un client ou un collaborateur</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1LgR91wqw079Fq5jbLcmuuMxf3M5iW2GuvL6hI_PqPE4/edit">justificatif</a></td>
                    <td><p>je sais comment  arriver à communiquer avec un client ou un collaborateur mais</p></td>
                </tr>

                <tr>
                    <td>Créer des outils et applications informatiques pour les R&T</td>
                    <td><p>Connaitre l'architecture et les technologies d'un site Web(Langages et outils : HTML, CSS, CMS, JS, responsive)</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1DFdoQOPzBkVEmfNvStZFEG0lRhsO-HARI4pW_P2vSRc/edit">justificatif</a></td>
                    <td><p>je connais en partie l'architecture d'un site web surout avec les outils tels que HTML,CSS,responsive sauf en CMS et Java</p></td>
                </tr>
            </table>
</body>
</html>