<!DOCTYPE html>
<html>
        <head>
         <title>Portfolio</title>
            <style>
                table{
                border-collapse: collapse;
                }
                td
                {
                border: 1px solid black;
                }
                table{
                margin-top:2em;
                }
            </style>
        </head>
<body>
            <table>
                        <tr>
                    <td>Compétences</td>
                    <td>Apprentissages critiques</td>
                    <td>Note sur 4</td>
                    <td>Liens vers les pièces justificatives</td>
                    <td>Commentaires </td>
                </tr>

                <tr>
                    <td>Administrer les réseaux et l'internet</td>
                    <td><p>Configurer les fonctions de base du réseau local </p></td>
                    <td>2/4</td>
                    <td><a href="https://docs.google.com/document/d/1HM45Vp9nmu8V3kRNaz586gWAZIjy4mrcC3L9sOZNvA0/edit">justificatif</a></td>
                    <td><p>Pour cet apprentissage , on arrive à configurer des adresses IPV4
                            en justifiant le choix On arrive à configurer des interfaces 
                            avec le bon vlan ,faire un cablage
                            correct et donner un nom au vlan Faire les configuration interfaces d'un
                            switch en mode trunk et la configuration administration switch c'est à
                            dire relier le vlan administration, à un PC , l'attribuer une adresse IP
                            correcte et faire fonctionner l'accès SSh ou Telnet</p></td>
                </tr>     

                
                <tr>
                    <td>Administrer les réseaux de l'internet</td>
                    <td><p>Maitriser les règles et les principes fondamentaux des systèmes d'exploitation afin d'interagir<br>
                        avec ceux-ci pour la configuration et administration des réseaux et services fournis(DHCP, DNS, ...)</p></td>
                    <td>2/4</td>
                    <td><a href="https://docs.google.com/document/d/1prGw828GJ8iDg46yC0hW_kh-pXBc85OWGfojSY-z_JU/edit">justificatif</a></td>
                    <td><p>On connait le mécanisme d'encapsulation dse différentes couches et son
                        but .Avec un peu de pratique et d'aide , nos connaissances nous 
                        permettent de manipuler et créer des paquets .Lors des travaux et avec l'aide ,on 
                        réussit à réaliser une étude détaillée des protocoles Ethernet , ARP et ICMP .
                        Pour les analyses de trames en autonomie, on réussit à réaliser une étude des 
                        champs des PDU paquets et segments liant les couches .On connait aussi les 
                        notions de base de l'IPV6.On maitrise aussi les commandes de base et sait les 
                        utiliser , on est capable plusieurs redirections complexes , capable 
                        d'extraire les colonnes ou lignes d'un fichier et on comprend les notions
                        de processus </p></td>
                </tr>

                <tr>
                        <td>Administrer les réseaux de l'internet</td>
                        <td><p>Installer un poste client</p></td>
                        <td>2/4</td>
                        <td><a href="https://docs.google.com/document/d/1uFG0LdxKh9Rx3YBMdB7dn0yl7axI5BHOTV5dV6BoRa0/edit">justificatif</a></td>
                        <td><p>cette note parce que je sais mesurer et analyser les signaux de transmissions mais je doute assez sur l'analyse spectrale<br>
                        ce qui peut me pousser a faire certaine erreur</p></td>
                </tr>

                <tr>
                <td>Connecter les entreprises et les usagers</td>
                <td><p> Caractériser des systèmes de transmissions
                        élémentaires et découvrir la modélisation
                        mathématique de leur fonctionnemen</p></td>
                    <td>4/4</td>
                    <td><a href="https://docs.google.com/document/d/1GdGYNOHCJ6XvuMu2A9cvT-HxzFQiIzAtAQIZcVROHXs/edit">justificatif</a></td>
                    <td><p>On maitrise les calculs ainsi que les applications trigonometriques ,
                            géomètriques et les 
                            équations
                            </p></td>
                </tr>
                <tr>
                        <td>Connecter les entreprises et les usagers</td>
                        <td><p>Déployer des supports de transmission</p></td>
                        <td>3/4</td>
                        <td><a href="https://docs.google.com/document/d/1uFG0LdxKh9Rx3YBMdB7dn0yl7axI5BHOTV5dV6BoRa0/edit">justificatif</a></td>
                        <td><p>On sait faire une réalisation de cable , fixer une adresse IP , tester une 
                        connectivité et réaliser une soudure sur fibre optique.En autonomie , 
                        on parvient à connecter correctement les différents équipements et on 
                        sait mettre en place un lien trunk pour une sécurité de redondance .
                        En autonomie , on parvient à connecter correctement les différents
                        équipements 
                        </p></td>
                </tr>

                <tr>
                    <td>Connecter les entreprises et les usagers</td>
                    <td><p>Communiquer avec un client ou un collaborateur</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1LgR91wqw079Fq5jbLcmuuMxf3M5iW2GuvL6hI_PqPE4/edit">justificatif</a></td>
                    <td><p>Pour ce système d'apprentissage , le travail a été réalisé en groupe 
                    (mesure wifi , mesure cuivre et devis dde la salle G007) Pour ma part , je 
                    dois présenté le devis</p></td>
                </tr>

                <tr>
                    <td>Créer des outils et applications informatiques pour les R&T</td>
                    <td><p>Utiliser un système informatique et ses outils</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1DFdoQOPzBkVEmfNvStZFEG0lRhsO-HARI4pW_P2vSRc/edit">justificatif</a></td>
                    <td><p>Pour cet apprentissage, Luka un étudiant de la deuxième année nous a 
                        permi d'être prudent face aux différentes notions de sécurité présentes
                        sur ces TP.On comprend et on connaitr et sait utiliser les bases d'un 
                        système d'exploitation .On sait configurer correctement des adresses IP , 
                        cryptés des mots de passe comme à l'accès virtuel , privilégié etr console
                        et activer seul le ssh pour la sécurité.En autonomie , on est en mesure
                        d'utilisser les logiciels de programmation</p></td>
                </tr>
                <tr>
                    <td>Créer des outils et applications informatiques pour les R&T</td>
                    <td><p>Connaitre l'architecture et les technologies d'un site Web(Langages et outils : HTML, CSS, CMS, JS, responsive)</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1DFdoQOPzBkVEmfNvStZFEG0lRhsO-HARI4pW_P2vSRc/edit">justificatif</a></td>
                    <td><p>Pour cet apprentissage, Luka un étudiant de la deuxième année nous a 
                    permi d'être prudent face aux différentes notions de sécurité présentes
                    sur ces TP.On comprend et on connaitr et sait utiliser les bases d'un 
                    système d'exploitation .On sait configurer correctement des adresses IP , 
                    cryptés des mots de passe comme à l'accès virtuel , privilégié etr console
                    et activer seul le ssh pour la sécurité.En autonomie , on est en mesure
                    d'utilisser les logiciels de programmation</p></td>
                </tr>
                <tr>
                    <td>Créer des outils et applications informatiques pour les R&T</td>
                    <td><p>Lire, exécuter, corriger et modifier un programme (programmes simples type scripts, algorithme inclus)</p></td>
                    <td>3/4</td>
                    <td><a href="https://docs.google.com/document/d/1DFdoQOPzBkVEmfNvStZFEG0lRhsO-HARI4pW_P2vSRc/edit">justificatif</a></td>
                    <td><p>Avec l'aide dun tiers , on parviens à lire un programme et donc à le 
                        commenter l'expliquer et à l'executer .Avec l'aide auusi , on parviens
                        à corriger et modofier un programme .Avec l'aide , on parvient à modifier 
                        et corriger un programme.On peut aussi créer un script shell etr le rendre 
                        executable </p></td>
                </tr>
            </table>
</body>
</html>