<!DOCTYPE html>
<html>
        <head>
            <h1>Vos coordonnées</h1>
            <link rel="stylesheet" href="templates\blog\CSSRV">
        <style>
                body {
                    border-left: 5px;   
                    border-right: 5px;                   
                    width :70%;					         
                    height: auto;	
                    text-align: center;
                    margin-left:auto;
                    margin-right:auto;
                    font-size:16px;
                    text-decoration : none;         
                    font-variant : normal; 
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    max-width: 1000px;    
                    min-width: 500px;
                    max-height:1000px;
                    min-height: 500px;
                    box-shadow: 0 0 30px rgba(0, 0, 0.5, 0.5);
                    background-color: #524A3A;
                    color: #FFFAE1;
                    padding: 20px 0 10px 0;
                }
                form {
                    margin: 0 auto;
                    max-width: 900px;
                }

                input, textarea, button {
                    border: none;
                    width: 55%;
                    padding: 15px 10px;
                    margin: 2px 0;
                    font-size: 1.2em;
                    font-family: 'Advent Pro', sans-serif;
                    border-radius: 8px;

                }

                button{
                    font-size: 1.5em;
                    background-color: #FFFAE1;
                    margin-top:auto;
                    margin-bottom:auto;
                }

                button:hover{
                    background-color: #e55039;
                    color: #FFFAE1;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    margin-top:auto;
                    margin-bottom:auto;
                }
        </style>
       
        </head>
<body>
            <?php include 'menunavigation.php'; ?>
            <form action="http://127.0.0.1:8000/conf">
                <label for="Nom">Votre nom*</label><br>
                <input type="txt" name="Nom" id="Nom" placeholder="Votre nom" size="30" required="required" /><br><br>
                <label for="email">Email*</label><br>
                <input type="email" name="email" id="email" placeholder="Votre email" size="30" required="required" /><br><br>
                <label for="message">Votre message*</label>
                <br>
                <textarea name="message" id="message" rows="10" cols="40" required>
                </textarea>
                
                <button type="submit" value="Confirmer">Confirmer</button>
            </form>
    <footer>
          <a href="http://copyright.be" target="_blank">Copyright ©️ 2011 MonSite.com - Tous droits réservés</a>
    </footer>

</body>  
</html>     
